/* 웹 폰트 링크 */

@font-face /* 갤럭시 북 폰트 */ {
  font-family: Galaxie-book;
  src: url(../font/GalaxieCopernicus-Book.woff);
}

@font-face /* 휴즈 고딕 볼드 폰트 */ {
  font-family: HugeGothic-Bold;
  src: url(../font/HugeGothic-Bold.woff);
}

/* 텍스트 */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: HugeGothic-Bold;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: Galaxie-book;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 170px;
  line-height: 170px;
}

h2 {
  font-size: 80px;
  line-height: 84px;
  letter-spacing: -2px;
}

h3 {
  font-size: 56px;
  line-height: 70px;
  letter-spacing: -4px;
}

h4 {
  font-size: 44px;
  line-height: 44px;
}

h5 {
  font-size: 24px;
  line-height: 30px;
}

h6 {
  font-size: 22px;
  line-height: 26px;
}

p {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.27504px;
}

.h3_serif {
  font-family: Galaxie-book;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: -4px;
}

.h4_serif {
  font-family: Galaxie-book;
  font-size: 44px;
  line-height: 44px;
}

.h5_serif {
  font-family: Galaxie-book;
  font-size: 24px;
  line-height: 30px;
}

.h6_serif {
  font-family: Galaxie-book;
  font-size: 22px;
  line-height: 26px;
}

.p_small_1 {
  font-size: 16px;
  letter-spacing: -1px;
}

.p_small_2 {
  font-size: 12px;
  line-height: 22.6667px;
  letter-spacing: -0.27504px;
}

.p_small_sans {
  font-size: 14px;
  line-height: 20px;
}

/*  keyframes  */

@keyframes logo_animation {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}

@keyframes header_animation_open {
  from {
    height: 0px;
  }

  to {
    height: 440px;
  }
}

@keyframes header_animation_close {
  from {
    height: 440px;
  }
  to {
    height: 0px;
  }
}

@keyframes header_animation_open_m {
  from {
    height: 0px;
  }

  to {
    height: 80vh;
  }
}

@keyframes header_animation_close_m {
  from {
    height: 80vh;
  }
  to {
    height: 0px;
  }
}

/* background-color */

.bg_color_black {
  background-color: black;
}

/* font color */

.color_white {
  color: white;
}
.color_black {
  color: black;
}

/* 메뉴 바 */
main {
  width: 100%;
  transition: padding-top 0.5s;
}

header {
  width: 100%;
  height: 0px;
  position: fixed;
  display: block;
  z-index: 100;
  background-color: #f4f4f4;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#logo {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HugeGothic-Bold, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #ea178c;
  background-color: white;
  position: fixed;
  top: 50px;
  left: calc(50% - 37px);
  z-index: 200;
  padding-top: 4px;
  box-sizing: border-box;
  background: linear-gradient(
    315deg,
    #ea178c,
    #ffffff,
    #ffffff,
    #ea178c,
    #ffffff,
    #ffffff
  );
  background-size: 800% 800%;
  animation: logo_animation 0.7s;
  animation-iteration-count: 1;
}

#logo_open {
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HugeGothic-Bold, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #ea178c;
  position: fixed;
  top: 50px;
  left: calc(50% - 60px);
  z-index: 200;
  padding-top: 4px;
  box-sizing: border-box;
  background-size: 800% 800%;
  animation: logo_animation 0.7s;
  animation-iteration-count: 1;
  display: none;
}

#logo:hover {
  background: #ea178c;
  color: white;
}

#border_s {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  transition: border-width 0.25s;
}

.menu_container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.menu_wrap {
  width: 190px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.menu_text_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_title {
  font-family: HugeGothic-Bold;
  font-size: 36px;
  color: black;
  line-height: 36px;
}

.menu_title:hover {
  color: #ea178c;
  cursor: pointer;
}

.menu_hr_m {
  display: none;
  flex-grow: 2;
  height: 1px;
  margin: 2px 10px 0;
  background-color: #000;
  border: none;
}

.menu_subtitle {
  font-family: Galaxie-book;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -1px;
  white-space: nowrap;
}

.menu_hr {
  border-bottom: 1px solid black;
  width: 48px;
  height: 36px;
}

.gnb_aside {
  position: absolute;
  width: 320px;
  height: 22px;
  top: 350px;
  left: calc(50vw - 160px);
  display: flex;
  justify-content: center;
}

.gnb_aside p {
  font-family: Galaxie-book;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1px;
}

.gnb_aside a {
  font-family: HugeGothic-Bold;
  font-size: 16px;
  color: black;
  line-height: 21px;
  margin-left: 6px;
  padding-top: 1px;
}

.gnb_aside a:hover {
  color: #ea178c;
  cursor: pointer;
}

.gnb_aside a span {
  color: #ea178c;
}

/* footer */

.about_magenta {
  width: 100%;
  background-image: url(../img/screen_shot.png);
  background-size: cover;
}

.about_magenta > div:first-child {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 200px 0;
}

.about_magenta_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about_magenta_img {
  width: 18.98734%;
  padding-bottom: 18.98734%;
  background-image: url(../img/magenta-hero.gif);
  background-size: cover;
  margin-right: 1.25%;
  margin-left: 12.65823%;
}

.about_magenta_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  width: 43.03797%;
  margin-right: 1.26582%;
  margin-left: 5.06329%;
}

.home_footer {
  width: 100%;
  height: auto;
  padding: 65px 0 80px;
}

.home_footer_wrap {
  width: 100%;
  height: auto;
  padding: 0 calc(12.5% + 15px);
  display: flex;
  justify-content: space-between;
}

.footer_content_left {
  display: flex;
  align-items: center;
}

.footer_content_left_logo {
  font-family: HugeGothic-Bold;
  font-size: 36px;
  line-height: 36px;
  border-right: 1px solid #878787;
  padding-right: 32px;
  margin-right: 32px;
  letter-spacing: 2px;
}

.footer_content_left_text {
  font-family: HugeGothic-Bold;
  font-size: 18px;
  line-height: 36px;
  color: white;
  letter-spacing: 0px;
  white-space: nowrap;
}

.footer_content_right {
  display: flex;
  flex-direction: column;
}

.footer_content_right > div {
  font-family: HugeGothic-Bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #c8c8c8;
  margin-bottom: 10px;
}

.footer_content_right a {
  margin: 0 16px 6px 0;
}

.footer_content_right a:last-child {
  margin-right: 0;
}

.footer_aside {
  font-family: Galaxie-book;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #c8c8c8;
  text-align: right;
}
