@media screen and (max-width:1100px) {
  .home_footer_wrap {
    flex-direction: column;
    justify-content: center;
  }
  
  .footer_content_right {
    margin-top: 15px;
  }

  .footer_aside {
    text-align: left;
  }
}

@media screen and (max-width:999px) {
  h1 {
    font-size: 72px;
  }

  h5 {
    font-size: 16px;
  }

  .main_hello {
    width: 700px;
    left: calc(50% - 330px);
  }

  .main_hi {
    width: 700px;
    left: calc(50% - 330px);
  }
}

@media screen and (max-width:767px) {
  h2 {
    font-size: 40px;
  }

  h5 {
    font-size: 14px
  }

  #logo {
    width: 60px;
    height: 60px;
    font-size: 26px;
    left: calc(50% - 30px);
    top:25px
  }
  
  #logo_open {
    top:25px
  }

  .gnb {
    display: flex;
    flex-direction: column;
  }

  .menu_container {
    flex-direction: column;
    margin: 0 auto;
    padding: 180px 50px 0;
    height: 100%;
    justify-content: flex-start;
  }

  .menu_wrap{
    width: 100%;
    height: auto;
  }

  .menu_text_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2.5vh 0;
  }
  
  .menu_title {
    font-size: 22px;
    line-height: 30px;
  }

  .menu_subtitle {
    font-size: 17px;
    line-height: 29px;
    white-space: nowrap;
  }

  .menu_hr_m {
    display: block;
  }

  .menu_hr {
    display: none;
  }

  .gnb_aside {
    position: static;
    margin-top: 90px;
  }

  .main_hello {
    display: none;
  }

  .main_hi {
    display: block;
  }

  .back_img_01 {
    background-image: url(../img/hugeinc_1.jpg);
    background-position: center;
    background-size: cover;
  }

  .back_img_02 {
    background-image: url(../img/huge_1.png);
    background-position: center;
    background-size: cover;
  }

  .back_img_03 {
    background-image: url(../img/hugeinc10_1.png);
    background-position: center;
    background-size: cover;
  }

  .back_img_04 {
    background-image: url(../img/hugeinc14.png);
    background-position: center;
    background-size: cover;
  }

  .back_img_05 {
    background-image: url(../img/hugeinc2_1.jpg);
    background-position: center;
    background-size: cover;
  }

  .back_img_06 {
    background-image: url(../img/hugeinc8.jpg);
    background-position: center;
    background-size: cover;
  }

  .back_img_07 {
    background-image: url(../img/hugeinc5.jpg);
    background-position: center;
    background-size: cover;
  }


  .home_section_index {
    display: none;
  }

  .home_section_content {
    width: 87.34177%;
    margin: 0 auto;
    padding-left: 0;
  }

  .home_section_content_wrap {
    width: 100%;
    padding-left: 5px;
  }

  .media_subtitle_wrap {
    display: block;
    display: flex;
  }

  .media_subtitle_wrap p {
    font-size: 14px;
  }

  .media_subtitle {
    font-size: 14px;
  }

  .home_section_content_subwrap {
    height: auto;
  }

  .home_section_content_subwrap h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  margin-top: 3vh;
  }

  .home_section_content_subwrap div {
  width: 21.05263%;
  margin: 0 auto 10px 0;
  }
  .home_section_content_subwrap p {
  font-size: 18px;
  }

  .home_footer {
    width: 100%;
    height: auto;
    padding: 50px 0;
  }

  .home_footer_wrap {
    width: 74.35897%;
    padding: 0;
    margin: 0 auto;
    align-items: flex-start;
  }

  .footer_content_left {
    margin-bottom: 20px;
    width: 100%;
  }

  .footer_content_left_logo {
    padding-right: 5vw;
    margin-right: 5vw;
  }

  .footer_content_left_text {
    width: 69.38776%;
  }

  .footer_aside {
    padding-top: 10px;
  }
}

@media screen and (max-width:480px) {
  .footer_content_left_logo {
    font-size: 22px;
    line-height: 22px;
  }

  .footer_content_left_text {
    font-size: 12px;  
    line-height: 22px;
  }
}