@media screen and (max-width:767px) {
  .main_hello {
    display: none;
  }

  .main_hi {
    display: block;
  }

  .home_section_index_wrap {
    display: none;
  }

  .media_subtitle_wrap {
    display: block;
    display: flex;
  }
}