@media screen and (max-width:999px) {
  .contact_home_title {
    font-size: 104px;
    line-height: .875;
  }
  
  /* contact_home */
  .section_subtitle_nopadding {
    width: 48.97959%;
    margin-bottom: 50px;
  }
  
  .section_subtitle_rule_white {
    width: 37.5%;
  }
  
  .section_subtitle_nopadding h6 {
    font-size: 16px;
  }

  .contact_hello_content_wrap  {
    flex-direction: column;
  }

  .contact_hello_title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.28571;
    width: 74.35897%;
  }

  .contact_hello_content {
    padding-right: 1.26582%;
    margin-top: 60px;
    width: 100%;
  }

  .contact_hello_content_text {
    margin-bottom: 20px;
  }

  /* contact_us */
  .contact_us_container {
    padding: 0 0 80px;
    width: 83.05085%;
  }

  .contact_us_content {
    padding: 80px 50px 10px;
    width: 50%;
    min-height: 44vh;
  }

  .contact_us_content:nth-child(3n) {
    border-right: solid 1px #000;
  }

  .contact_us_title {
    font-size: 42px;
    line-height: 1.14286;
  }

  .contact_us_subtitle {
    line-height: 1.33333;
    font-size: 21px;
  }
}



@media screen and (max-width:767px) {

  .contact_home {
    min-height: 70vh;
  }

  .contact_home_title {
    font-size: 60px;
    line-height: 1.03333;
  }

  /* contact_hello */

  .contact_hello_container {
    padding: 60px 0 110px;
  }

  .contact_hello_container {
    flex-direction: column;
  }

  .section_subtitle_nopadding {
    width: 82.75862%;
    margin-bottom: 50px;
  }
  
  .section_subtitle_rule_white {
    width: 37.5%;
  }
  
  .section_subtitle_nopadding h6 {
    font-size: 14px;
  }

  .contact_hello_content_wrap {
    margin-left: 0;
    width: 100%;
  }

  .contact_hello_title {
    font-size: 30px;
    line-height: 1.4;
  }


  /* contact_us */
  .contact_us_container {
    padding: 0 25px 80px;
    width: 100%;
  }

  .contact_us_content {
    padding: 40px 25px;
    max-height: 57vh;
    width: 100%;
  }

  .contact_us_title {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .contact_us_subtitle {
    line-height: 1.36842;
    font-size: 19px;
    margin-bottom: 15px;
  }
}